*_cache
*.drake
*.aux
*.bbl
*.blg
*.dcf
*.log
*.nav
.nfs*
*.out
*.snm
*.Rout
.Rproj*
*.toc
*.vrb
.DS_Store
.Rapp.history
.RData
.Rhistory
.Rproj.user
Rbuildignore/*.pdf
Rbuildignore/local/
README.html
report.hmtl